*{
	font-family: sans-serif;
	box-sizing: border-box;
}

body { margin: 0; }

#error-box {
	font-size: 125%;
	position: absolute;
	right: 40px;
	top: 30px;
	padding: 10px 15px;
	background-color: lightgray;
	border-radius: 25px;
	transition: 0.2s;
}

.error-box-disabled { opacity: 0; }

.grid-container {
	padding: 5px;
	margin-top: 10%;
	display: grid;
	grid-template-columns: 	1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 5px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 500px;
	height: 500px;
	background-color: gray;
	transition: 0.2s;
	display: grid;
	grid-template-columns: 	1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.grid-container-internal {
	display: grid;
	grid-template-columns: 	1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 100%;
	height: 100%;
	margin: 0;
	background: gray;
	grid-gap: 2px;
	justify-items: center; align-items: center;
}

.grid-container-disabled {
	transition: 0.2s;
	transform: scale(0.9);
}

.grid-cell {
	user-select: none;
	text-align: center;
	font-size: 220%;
	width: 100%;
	height: 100%;
	background: white;
	transition: 0.2s;
	cursor: pointer;
}

.grid-cell-permanent {
	color: #333;
	cursor: not-allowed;
	background: lightgray;
	transition: 0.2s;
}

.grid-cell-highlight { background-color: #888; }

.grid-cell-available:hover {
	background: #e6e6e6;
	transition: 0.1s;
}

.blur-layer {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	backdrop-filter: brightness(75%) blur(2px);
	transition: 0.1s;
}

.blur-layer-disabled {
	opacity: 0;
	z-index: -1;
}

.select-number-window {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 220px;
	height: 220px;
	z-index: 3;
	transition: 0.2s;
	border-radius: 50%;
	background-color: #d2d2d2a0;
}

.select-number-window-disabled {
	opacity: 0;
	transform: scale(0.5);
	transition: 0.2s;
	z-index: -1;
}

.remove-num-btn {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 50px;
	height: 50px;
	border: solid 2px black;
	border-radius: 50%;
	transition: 0.2s;
	cursor: pointer;
}

.remove-btn-disabled { display: none; }

.remove-num-btn:hover {
	transition: 0.2s;
	transform: scale(1.1);
}

.remove-num-btn::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transform: rotate(45deg);
	margin: auto;
	width: 60%;
	height: 2px;
	background: black;
	border-radius: 5px;
}

.remove-num-btn::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transform: rotate(-45deg);
	margin: auto;
	width: 60%;
	height: 2px;
	background: black;
	border-radius: 5px;
}

.select-number-value {
	position: absolute;
	font-size: 200%;
	color: black;
	transition: 0.2s;
	user-select: none;
	cursor: pointer;
}

.select-number-value:hover {
	transition: 0.2s;
	transform: scale(1.2);
}

.dialog-box {
	padding: 10px;
	position: absolute;
	width: 50%;
	/*height: 400px;*/
	top: 10%;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 10px;
	/*background: lightgray;*/
	box-shadow: 0 0 10px gray;
	z-index: 5;
	transition: 0.4s;
	backdrop-filter: blur(7px) brightness(90%);
}

.dialog-box-disabled {
	top: -50%;
	opacity: 0;
	transition: 0.4s;
	z-index: 0;
}

.menu-box {
	position: absolute;
	top: 10px;
	left: 20px;
	height: auto;
	width: 175px;
	transition: 0.2s;
	z-index: 1;
	user-select: none;
}

ul {
	margin: 0;
	padding: 10px 0;
	width: 100%;
	height: 100%;
	list-style-type: none;
	transform-origin: top;
	transition: 0.2s;
}

.menu-list-disabled {
	transform: scaleY(0);
	opacity: 0;
}

li {
	padding: 5px 10px;
	font-size: 150%;
	width: 100%;
	transition: 0.1s;
	cursor: pointer;
}

li:hover {
	border-left: solid 3px gray;
	transition: 0.1s;
}

.menu-header {
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.menu-header-circle {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: solid 2px gray;
	transition: 0.2s;
}

.menu-header-circle-active { transform: rotate(90deg); }

.menu-header-label {
	padding-left: 10px;
	font-size: 175%;
	display: inline-block;
	text-align: center;
}

.menu-header-line {
	margin: 0;
	position: relative;
	left: 0;
	top: 0;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: 2px;
	background-color: gray;
	border-radius: 5px;
}

h1 {
	font-size: 250%;
	text-align: center; 
	margin: 2% 0 0 10px;	
}

h2 {
	font-size: 200%;
	text-align: center;
	margin: 0;
}

h3 {
	margin: 2% 0 0 0;
	font-size: 125%;
	padding-left: 5%;
}
p {
	font-size: 125%;
	padding: 0 5%;
	margin-bottom: 5%;
}

hr {
	margin: 2% 5% 0 5%;
	border-color: lightgray;
}

.timer-box {
	font-size: 125%;
	position: absolute;
	right: 30px;
	bottom: 20px;
	background-color: lightgray;
	border-radius: 25px;
	padding: 10px 20px;
	user-select: none;
	cursor: default;
}

.new-game-dialog-btn {
	position: relative;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-align: center;
	font-size: 125%;
	width: 50%;
	padding: 10px 15px;
	border-radius: 25px;
	border: solid 2px lightgray;
	transition: 0.2s;
	cursor: pointer;
	user-select: none;
}

.new-game-dialog-btn:hover { background: lightgray; }
